# Globus app client ID and secret
APP_CLIENT_ID = ''
APP_CLIENT_SECRET = ''

# Globus SenNet-Read group UUID
GLOBUS_READ_GROUP_UUID = '51155194-09e5-11ed-a1a7-39992a34a522'

# Globus SenNet-Data_Admin group UUID
GLOBUS_DATA_ADMIN_GROUP_UUID = 'f654cd0d-1d9c-11ed-b7d5-972795fc9504'