# this file allows multiple Elasticsearch indices to be configured and accessible
# via the search endpoints

# default index name for endpoints that don't specify an index
default_index: entities

# used for bulk updates to elastic search (default is 50)
bulk_update_size: 50

# specify multiple indices
indices:
  entities: 
    active: true
    reindex_enabled: true
    public: sn_dev_public_entities
    private: sn_dev_consortium_entities
    # Use `http://entity-api:8080` for non-localhost docker deployment
    document_source_endpoint: <Server URL for source documents>
    elasticsearch:
      url: <ES URL>
      mappings: "sennet_translation/search-default-config.yaml"
  files:
    active: true
    reindex_enabled: false
    public: sn_dev_public_files
    private: sn_dev_consortium_files
    elasticsearch:
      url: <ES URL>
      mappings: "sennet_translation/file-default-config.yaml"
  logs-file-downloads:
    active: true
    reindex_enabled: false
    public: file_downloads
    private: file_downloads
    elasticsearch:
      url: <ES URL>
      mappings: "sennet_translation/file-default-config.yaml"
  logs-api-usage:
    active: true
    reindex_enabled: false
    public: api_usage
    private: api_usage
    elasticsearch:
      url: <ES URL>
      mappings: "sennet_translation/file-default-config.yaml"
  logs-github-analytics:
    active: true
    reindex_enabled: false
    public: github_analytics
    private: github_analytics
    elasticsearch:
      url: <ES URL>
      mappings: "sennet_translation/file-default-config.yaml"
