# this file allows multiple Elasticsearch indices to be configured and accessible
# via the search endpoints

# default index name for endpoints that don't specify an index
default_index: entities

# specify multiple indices
indices:
  entities: 
    active: true
    reindex_enabled: true
    public: sn_dev_public_entities
    private: sn_dev_consortium_entities
    # Use `http://entity-api:8080` for non-localhost docker deployment
    document_source_endpoint: <Server URL for source documents>
    elasticsearch:
      url: <ES URL>
      mappings: "sennet_translation/search-default-config.yaml"
  files:
    active: true
    reindex_enabled: false
    public: sn_dev_public_files
    private: sn_dev_consortium_files
    elasticsearch:
      url: <ES URL>
